<section class="container">
  <header>
    <div class="jumbotron">
      <h1 class="text-center">
        Hello, folks!
      </h1>
      <p class="idented-paragraph">
        This page will evolve! We are developing a great application, using a lot of cool technologies.
        Stay sharp to see the result.
      </p>
    </div>
  </header>

  <article class="row">
    <div class="col-sm-4 article-box">
    </div>
    <div class="col-sm-4 article-box">
    </div>
    <div class="col-sm-4 article-box">
    </div>
  </article>
</section>