/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-reset";

$main-color: #3F51B5;
$secondary-color: #E8EAF6;

body {
  margin-top: 60px;
}

.navbar-app {
  background: $main-color;

  .main-link {
    color: $secondary-color;
    opacity: .6;

    &:hover {
      color: $secondary-color;
      opacity: .9;
    }
  }

  .tab-link {
    color: $secondary-color !important;
    opacity: .5 !important;
    border-bottom: 3px transparent solid;

    &:hover {
      color: $secondary-color;
      opacity: .8 !important;
      text-decoration: none !important;

      @media (min-width: 770px) {
        border-bottom: 3px #C5CAE9 solid;
      }
    }
  }
}

.footer {
  background: rgba(0, 10, 114, .8);
  color: $secondary-color;
}

.footer-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.material-icon {
  background-color: $secondary-color !important;
}